ENVIRONMENT=local

IBM_VERIFY_TENANT_URL=https://{tenent}.verify.ibm.com
IBM_VERIFY_API_CLIENT_ID=XXXXXXX-XXXXXXX-XXXX
IBM_VERIFY_API_CLIENT_SECRET=XXXXXXX
IBM_VERIFY_PROFILE_MANAGEMENT_CLIENT_ID=XXXXXXX-XXXXXXX-XXXX
IBM_VERIFY_PROFILE_MANAGEMENT_SECRET=XXXXXXX

SESSION_STORE_TYPE=RedisStore
SESSION_SECRET=your_secret_key_here
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_DOMAIN=localhost
SESSION_REDIS_URL=redis://localhost:6379/0
