backend/app/__pycache__/*
.terragrunt-cache
.terraform/
backend/.env
node_modules/
.terraform.lock.hcl
.env
.DS_Store
*/.DS_Store
backend/tests/__pycache__
frontend/package-lock.json

# ACT GITHUB LOCAL Test Runner Environment
.actrc

#Backend
__pycache__