backend/app/__pycache__/*
.terragrunt-cache
.terraform/
backend/.env
node_modules/
.terraform.lock.hcl
.env
.DS_Store
*/.DS_Store
backend/tests/__pycache__
frontend/package-lock.json
bin
lib
pyvenv.cfg
.coverage
# ACT GITHUB LOCAL Test Runner Environment
.actrc

#Backend
__pycache__
core
backend/.coverage
.coverage
coverage.xml

#Storybook Build
frontend/storybook-static/

#Test Coverage
frontend/coverage/*
# Keep coverage folder for CI/CD workflows - otherwise the directory doesn't exist when CI/CD is running
!frontend/coverage/README.md
frontend/test-results/

# Build output
frontend/dist