IBM_VERIFY_TENANT_URL=https://auth.signin-connexion.cdssandbox.xyz/
IBM_VERIFY_PROFILE_MANAGEMENT_API_CLIENT_ID=
IBM_VERIFY_PROFILE_MANAGEMENT_CLIENT_ID=
IBM_VERIFY_PROFILE_MANAGEMENT_SECRET=
IBM_VERIFY_PROFILE_MANAGEMENT_API_SECRET=
PROFILE_MANAGEMENT_DOMAIN=https://app.auth.signin-connexion.cdssandbox.xyz:3000
CORS_ORIGINS=app.auth.signin-connexion.cdssandbox.xyz:3000,app.auth.signin-connexion.cdssandbox.xyz:8000