IBM_VERIFY_TENANT_URL=https://cds-gcsignin-dev.verify.ibm.com/
IBM_VERIFY_PROFILE_MANAGEMENT_API_CLIENT_ID=
IBM_VERIFY_PROFILE_MANAGEMENT_CLIENT_ID=
IBM_VERIFY_PROFILE_MANAGEMENT_SECRET=
IBM_VERIFY_PROFILE_MANAGEMENT_API_SECRET=
EMAIL_MFA_THEME=

# ------------------------------------
# Passkeys Settings
# ------------------------------------
# PROFILE_MANAGEMENT_DOMAIN=https://app.cds-gcsignin-dev.verify.ibm.com:3000
# CORS_ORIGINS=app.cds-gcsignin-dev.verify.ibm.com:3000,app.cds-gcsignin-dev.verify.ibm.com:8000
# ROOT_DOMAIN=dev.login-connexion.alpha.canada.ca

# ------------------------------------
# IDV Settings
# ------------------------------------
# BLUINK_CLIENT_SECRET=
# BLUINK_CLIENT_ID=
# GC_NOTIFY_API_KEY=
# IBM_VERIFY_PROVINCIAL_PARTNERS_IDENTITY_SOURCE_ID=

# IDV_DATA_STORE_BASE_URL=http://localhost:8100
# IDV_DATA_STORE_STS_CLIENT_ID=
# IDV_DATA_STORE_STS_CLIENT_SECRET=