fastapi==0.135.3
uvicorn==0.44.0
requests==2.33.1
python-multipart==0.0.27
python-dotenv==1.2.2
webauthn==1.11.1
cryptography==46.0.7
pydantic-settings==2.13.1
pydantic==2.13.1
httpx==0.28.1
email-validator==2.3.0
pydantic-extra-types==2.11.1
phonenumbers==9.0.28
cachetools==5.5.2
authlib==1.6.11
itsdangerous==2.2.0
starsessions==2.2.1
PyJWT==2.12.1
redis==6.4.0
fido2==2.2.0
Secweb==1.30.10