fastapi==0.139.0
uvicorn==0.50.2
requests==2.34.2
python-multipart==0.0.32
python-dotenv==1.2.2
webauthn==1.11.1
cryptography==48.0.1
pydantic-settings==2.14.2
pydantic==2.13.4
httpx==0.28.1
email-validator==2.3.0
pydantic-extra-types==2.11.1
phonenumbers==9.0.34
cachetools==5.5.2
authlib==1.7.2
itsdangerous==2.2.0
starsessions==2.2.1
PyJWT==2.13.0
redis==6.4.0
fido2==2.2.1
Secweb==1.30.10