@import '@cdssnc/gcds-components-react/gcds.css';

.gcds-main{
    height: 100vh;
}
.gcds-page {
    align-items: center;
    flex: 1 0 auto;
}
html, body, .mainBody{
    height:100vh;
}
body, .mainBody {
    font-family: system-ui, sans-serif;
    margin: auto;
    display:flex;
    flex-direction:column;
}

@media screen and (max-width:767px) {
    .gcds-email-fieldset{
        font-size: 18px;
        font-style: normal;
    }
    .gcds-header{
        padding: var(--gcds-spacing-100) var(--gcds-spacing-0) var(--gcds-spacing-100) var(--gcds-spacing-0);
        align-items: center;
        gap: var(--gcds-spacing-350);
        align-self: stretch;
    }
    .gcds-page{
        display: flex;
        padding: var(--gcds-spacing-0) var(--gcds-spacing-200) var(--gcds-spacing-550) var(--gcds-spacing-200);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gcds-spacing-350);
        align-self: stretch;
    }
    .gcds-content{
        align-items: center;
        gap: var(--gcds-spacing-350);
    }
    .rectangle-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px; /* Adjusted gap to match Figma styling */
        align-self: stretch;
        margin-top: 8px; /* Added margin-top to match Figma styling */
    }
    .rectangle {
        width: 65.4px; /* Adjusted width to match Figma styling */
        height: 9.4px; /* Adjusted height to match Figma styling */
        background-color: grey;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--Tokens-color-grayscale-100, #D6D9DD);
    }
}

@media screen and (min-width:768px) {
    .gcds-page{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: var(--gcds-spacing-300) var(--gcds-spacing-200) var(--gcds-spacing-550) var(--gcds-spacing-200);
        gap: var(--gcds-spacing-300);
    }
    .gcds-content{
        border-radius: 10px;
        border: 1px solid var(--gcds-color-grayscale-300, #A8ADB4);
        background: #FFF;
        display: flex;
        width:750px;
        padding: 80px 80px;
        justify-content: center;
        align-items: center;
        margin:auto;
        vertical-align: middle;
        gap: var(--gcds-spacing-300);
    }
    .gcds-footer{
        padding-top: var(--gcds-spacing-400);
    }
    .rectangle-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px; /* Adjusted gap to match Figma styling */
        align-self: stretch;
        margin-top: 8px; /* Added margin-top to match Figma styling */
    }
    .rectangle {
        width: 65.3px; /* Adjusted width to match Figma styling */
        height: 9.4px; /* Adjusted height to match Figma styling */
        background-color: grey;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--Tokens-color-grayscale-100, #D6D9DD);
    }

}
