@import '@cdssnc/gcds-components-react/gcds.css';

.gcds-main{
    height: 100vh;
}
.gcds-page {
    align-items: center;
    flex: 1 0 auto;
}
html, body, .mainBody{
    height:100vh;
}
body, .mainBody {
    font-family: system-ui, sans-serif;
    margin: auto;
    display:flex;
    flex-direction:column;
}

@media screen and (max-width:767px) {
    .gcds-email-fieldset{
        font-size: 18px;
        font-style: normal;
    }
    .gcds-header{
        padding: var(--gcds-spacing-100) var(--gcds-spacing-0) var(--gcds-spacing-100) var(--gcds-spacing-0);
        align-items: center;
        gap: var(--gcds-spacing-350);
        align-self: stretch;
    }
    .gcds-page{
        display: flex;
        padding: var(--gcds-spacing-0) var(--gcds-spacing-200) var(--gcds-spacing-550) var(--gcds-spacing-200);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gcds-spacing-350);
        align-self: stretch;
    }
    .gcds-content{
        align-items: center;
        gap: var(--gcds-spacing-350);
    }
    .privacy-notice{
        font-size: 16px;
        padding-left: 3em;
    }
}

@media screen and (min-width:768px) {
    .gcds-page{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: var(--gcds-spacing-300) var(--gcds-spacing-200) var(--gcds-spacing-550) var(--gcds-spacing-200);
        gap: var(--gcds-spacing-300);
    }
    .gcds-content{
        border-radius: 10px;
        border: 1px solid var(--gcds-color-grayscale-300, #A8ADB4);
        background: #FFF;
        display: flex;
        width:750px;
        justify-content: center;
        align-items: center;
        margin:auto;
        vertical-align: middle;
        gap: var(--gcds-spacing-300);
        padding: var(--gcds-spacing-1000) var(--gcds-spacing-1000) var(--gcds-spacing-600) var(--gcds-spacing-1000);
    }
    .gcds-footer{
        padding-top: var(--gcds-spacing-400);
    }
    .privacy-notice{
        font-size: 16px;
        padding-left: 3em;
    }
}
